node_modules/
dist/
build/
coverage/
.lagon/
.turbo/
.cache/
ssl/
target/
crates/serverless/deployments/
.vercel/
storybook-static/
.nitro/
.output/
.nuxt/

.eslintcache
.DS_Store
.env
tsconfig.tsbuildinfo
snapshot.bin
