version: '3'
services:
  redis:
    image: redis
    ports:
      - 6379:6379
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - redis:/data

  mysql:
    image: mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=mysql
    ports:
      - 3307:3306
    volumes:
      - mysql:/var/lib/mysql

  prometheus:
    image: prom/prometheus
    ports:
      - 9090:9090
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus:/prometheus

  grafana:
    image: grafana/grafana
    ports:
      - 3001:3000
    volumes:
      - ./docker/grafana/datasources:/etc/grafana/provisioning/datasources
      - grafana:/var/lib/grafana

  clickhouse:
    image: clickhouse/clickhouse-server
    ports:
      - 8123:8123
      - 8000:9000
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    volumes:
      - clickhouse:/var/lib/clickhouse

  minio:
    image: minio/minio
    ports:
      - 9002:9002
      - 9001:9001
    volumes:
      - minio:/data
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY:-root}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_KEY:-supersecret}
    entrypoint: sh
    command: -c 'mkdir -p /data/lagon && minio server /data --console-address ":9001" --address ":9002"'

volumes:
  redis:
  mysql:
  prometheus:
  grafana:
  clickhouse:
  minio:
