---
import Layout from '../layouts/Layout.astro';

export const prerender = true;
---

<Layout title="Prerender">
  <main>
    <a href="/">Go to /</a>
    <a href="/hello">Go to /hello</a>
    <h1>Prerendered</h1>
  </main>
</Layout>
